.containerShow {
    background-color: #434141ab;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
  }

  .nota {
    background: url('imagenes/bg-tienda.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 5px;
    color: rgb(16, 16, 16);
  }

  .btn-enviar {
    background-color: #0e0d0d;
    color: rgb(253, 250, 250);
    border: none;
    border-radius: 2rem;

  }

  .btn-enviar:hover {
    background-color: #0011ff68;
  }





  .form-group label {
    font-weight: bold;
  }

  .form-control[disabled] {
    background-color: #f2f2f2;
  }

